@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

h1,h2,h3,h4,h5,h6 ,input[type=submit],button[type=submit]{
    font-family: 'Zilla Slab', serif;
}

h1,h2,h3,h4,h5,h6{
   margin: 0 0 15px;
}
body{
    font-family: 'Noto Sans', sans-serif;
    color: #888888;
    list-style: none;
    line-height: 1.8;
}

a:hover,a:focus{text-decoration:none;}
input:focus,button:focus,textarea:focus{outline:none;}

img{max-width: 100%;height: auto;}

.slide-bg-1{
    background-image: url(../img/slider1.jpg);
}
.services-bg::before{
    background-image: url(../img/service-bg.jpg);
}

.section-bg-1{background-image: url(../img/service-bg.jpg);}
.section-bg-2{background-image: url(../img/bg-0.jpg);}



.logo{
    font-size: 20px;
    font-weight: 700;
    margin-top: 13px;
    
}

.header-area{
    font-size: 16px;
    font-family:'Zilla Slab', serif; 
    font-weight: 700;
}

.header-area a .search-icon{
    color: #333;
}



.menu-bar{
    
    text-align: center;
    display: inline-flex;
    list-style: none;
    color: #fff;
    width: 100%;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li{
    width: 120px;
    margin: 5px;
    padding: 10px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

 .active ,.menu-bar ul li:hover{
     background: transparent;
     border-radius: 3px;
 }



 .sub-menu-1{
     display: none;
 }

 .menu-bar ul li:hover  .sub-menu-1{
     display: block;
     position: absolute;
     background: transparent;
     margin-top: 15px;
     margin-left: -15px;
     
 }

 .menu-bar ul li:hover  .sub-menu-1 ul{
     display: block;
     margin: 10px;
 }

 .menu-bar ul li:hover  .sub-menu-1 ul li{
     width: 150px;
     padding: 10px;
     
     background: transparent;
     border-radius: 0;
     text-align: left;

 }
 
 

 .menu-bar ul li:hover  .sub-menu-1 ul li:last-child{
     border-bottom: none;
 }

 .menu-bar ul li:hover  .sub-menu-1 ul li a:hover{
     color: #fff;
     
 }

 .menu-bar .fa-angle-right{

    float: right;
    

 }

 

 .sub-menu-2{
     display: none;
 }

 .hover-me:hover .sub-menu-2{
     position: absolute;
     display: block;
     margin-top: -40px;
     margin-left: 140px;
     background:transparent ;
 }


.single-slide-item {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.single-slide-item::after{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .66;
}

.slide-text ,.slide-text a{
    color: #fff;
    
}

.slide-text{
    font-size: 16px;
    padding: 160px 0;

}

.slide-text h2{
    font-size: 60px;
}

.slide-text h2 span{
    font-weight: 300;
    font-style: italic;
}

.video-btn{
    display: block;
    position: relative;
   margin: 30px 0;
}
.play-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
}

.box-btn{
    background-color: #22bbc0;
    font-family: 'Zilla Slab',serif ;
    font-weight: 700;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
}

.header-area ,.header-absolute{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    z-index: 9;
}

.header-area ,.header-absolute  a ,.search-icona{
    color: #fff;
}

.search-icon{
    margin-top: 15px;
    display: inline-block;

}

.owl-carousel .owl-item  .slide-text img{
    width:auto;
    display: inline-block;

}

.Homepage-slides .owl-nav {
    position: absolute;
    left: 8%;
    color: #fff;
    top:50%;
    font-size: 20px;
    line-height: 40px;
    margin-top: -20px;

}

.Homepage-slides .owl-nav .owl-next{
    left: -100px;
    right: 8%;
}

.section-padding{
    padding: 100px 0;
}

.section-padding h2,h4{
    color: #000;
    font-weight: 700;
    line-height: 1.3;
}

.single-promo-box{
    margin-top:  30px;
    text-align: center;

}
.promo-icon{
    font-size: 20px;
    color:#22bbc0 ;
    margin-bottom: 15px;
}

.single-promo-box h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.space-90{
    height: 90px;
}

.space-70{
    height: 70px;
}
.space-45{
    height: 45px;
}

.tile-gallery{
    position: relative;
    height: 675px;
 margin-left: 30px;
}

.tile-gallery img{
    border-radius: 5px;
    box-shadow: 3px 3px 9px #d4d4d4;
    position: relative;
    z-index: 1;
}

.tile-gallery img:nth-child(2){
    position: absolute;
    right: 0;
    top:50px;
    z-index: 2;
}
.tile-gallery img:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 22px;
    z-index: 3;
    
    
}

.single-service-item{
    position: relative;
    padding-left: 100px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.single-service-item:hover::after{
    position: absolute;
    left: 100%;
    top:0;
    width: 5000%;
    height: 100%;
    content: "";
    background-color: #22bbc0;

}

.single-service-item:hover{
    background-color: #22bbc0;
    color: #fff;
 
}

.single-service-item:hover h3{
    color: #fff;
}

 .service-icon:hover{
    color: #fff;
}

.service-icon{
    width: 85px;
    position: absolute;
    left: 0;
    height: 100%;
    
    color: #22bbc0;
    font-size: 30px;
    text-align: center;
}

.services-bg h3{
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.services-bg{
    overflow: hidden;
    position: relative;
}

.services-bg::before{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 50.89%;
    content: '';
    transition: .3s;
}

.section-padding h3{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-top: 25px;
   

}

.section-padding  h1{
    color: #000;
    
    font-weight: 700;
    margin-top: 25px;

}

.section-padding-e h2{
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
}
.section-padding{
    color: #000;
    background-size: cover;
    background-position: center;
}

.black-overly ,.black-overly h1 ,.box-btn{
    color: #fff;
}

.section-padding{
    background-size: cover;
    background-position: center;
}

.black-overly{
    position: relative;
    z-index: 2;
}

.black-overly::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .7;
}

.align-btn{
    top:50px;
}

.portfolio-bg1{
    background-image: url(../img/project1.jpg);
}
.portfolio-bg2{
    background-image: url(../img/project2.jpg);
}
.portfolio-bg3{
    background-image: url(../img/project3.jpg);
}
.portfolio-bg4{
    background-image: url(../img/project4.jpg);
}

.single-portfolio-item {
    height: 310px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    margin: 15px 0;
    box-shadow: 4px 4px 5px #ddd;
}

.single-portfolio-item.large{
    height: 650px;
}
.single-portfolio-item:hover .portfolio-hover{
    opacity: 1;
    visibility: visible;
}

.portfolio-hover{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    font-size: 20px;
   z-index: 2;
   transition: .2s;
   opacity: 0;
   visibility: hidden;
}

.portfolio-hover h4,.portfolio-hover a{
    color: #fff;
}

.portfolio-hover h4{
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 0;
}

.portfolio-hover:after{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .7;
}
.portfolio-hover-table{
    display: table;
    height: 100%;
    width: 100%;

}

.portfolio-hover-tablecell{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.no-padding-top{
    padding-top: 0;
}

.iteam-list{
    margin-top: 70px;
}

.single-team-item{
    background: #fbfbfb;
    padding: 30px;
    text-align: center;
}
.owl-carousel .owl-item .single-team-item img{
    display: inline-block;
    width: auto;

}

.single-team-item img{
    border-radius: 50%;
}
.single-team-item h4 span{
   display: block;
   color: #888888;
   font-size: 14px;
   font-weight: normal;
   font-family: 'Noto Sans', sans-serif;
   margin-top: 10px;

}

.single-team-item h4{
    margin: 30px 0 25px;
}

.iteam-list .owl-dots {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .iteam-list .owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none;
    border-radius: 50%;
    border: 2px solid #22bbc0!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }

  .testimonial-list .owl-dots {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  .testimonial-list .owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none;
    border-radius: 50%;
    border: 2px solid #22bbc0!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .owl-dot.active,
  .owl-dot:hover{
    background: #22bbc0!important;
  }

  .logo-color{
      background-color: rgb(219, 218, 218);
  }

  .testimonial-list{
      margin-top: 70px;
  }

  .single-testimonial-item{
      background: #fff;
      color: #000;
      padding: 30px;
      font-size: 16px;
      font-weight: 700;
      font-family: 'zilla slab',serif;
      font-style: italic;
      text-align: center;
  }

  .testimonial-icon{
      font-size: 20px;
      color: #22bbc0;
      margin-bottom: 20px;
  }

  .single-testimonial-item h5{
      margin-top: 25px;
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 14px;

  }

  .single-testimonial-item h5 span{
      display: block;
      font-weight: normal;
      font-family: 'noto Sans',sans-serif;
      font-style: normal;
      margin-top: 10px;
      font-size: 12px;
  }

  .owl-carousel .owl-item .single-logo-item{
      width: auto;
      margin: 0 auto;
  }

  .single-logo-item{
      display: table;
      width: 100%;
      height: 30px;

  }

  .logo-item-inner{
      display: table-cell;
      vertical-align: middle;
      width: 100%;
  }

  .footer-area{
      background: #f5f5f5;
      padding: 80px 0;
  }

  .footer-area ul{
      font-family: 'zilla slab',serif;
      font-weight: 700;
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 2;
      margin-top: 10px;
  }

  .footer-area ul a{
      color:#000
  }
  .footer-area h3{
      color: #000;
      font-size: 20px;
      margin-top: 20px;
  }

  .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      border: 1px solid #333;
      margin-right: 2px;
      text-align: center;
      line-height: 37px;
      font-size: 17px;
      border-radius: 50%;
      color: #000;
  }

  .social-links a:hover{
      background-color: #22bbc0;
      border-color: #22bbc0;
      color: #fff;
  }

  .logo-carousel{
      margin: -34px 0;
  }

  .hero-area{
      background-image: url(../img/hero-bg.jpg);
  }
  

  .hero-area{
      background-size: cover;
      background-position: center;
      background-color: #000;
     padding-top: 180px; 
     padding-bottom: 120px;
  }

  .hero-text{
      font-size: 16px;
      margin-top: 120px;
  }

  .hero-text h2{
      font-size: 45px;
      line-height: 40px;
      margin-bottom: 22px;
      font-weight: 700;

  }

  .register-now-form{
      background: #fff;
      padding: 60px;
      border-top: 10px solid #22bbc0;
      color: #000;
  }
  .register-now-form .btn{
      color: #fff;
  }

  .register-now-form p{
      margin-bottom: 20px;
  }

  .register-now-form p:last-child{
      margin-bottom: 0px;
  }

  .register-now-form h3{
      color: #000;
      font-weight: 700;
      font-size: 25px;
      margin-top: -20px;
      margin-bottom: 30px;
  }

  .register-now-form h3 span{
      color: #e3121c;
  }
  input, button,textarea{
      padding: 10px;
      width: 100%;
      border: 1px solid#ddd;
  }

  .register-now-form input[type=submit]
  {
      width: 100%;
      padding: 15px;
  }

  input[type=submit],button[type=submit]{
      width: auto;
      border: none;
      background-color: #22bbc0;
      font-weight: 700;
      font-size: 18px;
  }

  .section-gray-bg{
      background-color: #fbfbfb;
  }

  .ticket-text{
      background: #2f2f2f;
      color: #fff;
      display: inline-block;
      padding: 5px 29px;
      border-radius: 50px;
      margin-bottom: 9px;
  }

  .margin-80{
      margin: 80px 0;
  }

  .margin-20{
    margin: 20px 0;
}

.margin-60{
    margin: 60px 0;
}

.margin-30{
    margin: 30px 0;
}

  .service-box .service-icon{
      position: relative;
      text-align: center;
      width: 100%;
      font-size: 45px;
      height: 70px;
      line-height: 70px;
  }

  .service-box h3{
      font-size: 20px;
      margin: 15px 0;
  }

  .service-box{
      margin-bottom: 50px;
      padding: 30px 20px;
  }

  .service-box:hover{
      background-color: #fafafa;
  }

  .theme-2 .single-team-item{
      box-shadow: 0 0 8x #f1f1f1;
      margin: 4px;
      border-radius: 5px;
      border: 1px solid transparent;
  }

  .theme-2 .single-team-item:hover{
      box-shadow: 0 0 0;
      border: 1px solid #22bbc0;
  }

  .margin-buttom-80{
      margin-bottom: 80px;

  }

  .single-blog-box{
      box-shadow: 0 0 5px #f1f1f1;
      padding: 27px;
  }
  .single-blog-box a{
      color: #22bbc0;
  }

  .single-blog-box a i.fa{
      padding-left: 5px;
  }
  .single-blog-box h3{
      font-size: 18px;
      font-weight: 700;
  }

  .footer-area.dark-bg{
      background-color: #000;
  }
  .footer-area.dark-bg,
  .footer-area.dark-bg a,
  .footer-area.dark-bg h3{
      color: #fff;
  }

  .dark-bg .social-links a{
      border-color: #fff;
  }

 .breadcromd-bg-1{
     background-image: url(../img/about-bg.jpg);
 }

 .section-bg-3{
     background-image: url(../img/about-pic-2.jpg);
 }

 .breadcromd-area{
     font-size: 16px;
     padding-top: 180px;
     padding-bottom: 130px;
 }

 .breadcromd-area,
 .breadcromd-area a{
     color: #fff;
 }

 
 .breadcromd-area h2{
     font-size: 36px;
     font-weight: 700;
 }

 .breadcromd-area i.fa{
     padding: 0 7px;
 }
 .black-overly h4{
     color: #fff;
 }

 .service-icon-2{
     font-size: 30px;
     margin-bottom: 15px;
 }

 .margin-50{
     margin-top: 60px;
 }

 .widget{
     background-color: #fafafa;
     padding: 30px;
     margin-bottom: 30px;
 }

 .widget .box-btn{
     border-radius: 0;
     width: 100%;
     text-align: center;
     padding: 12px;
     margin-top: 20px;

 }
 .widget .nav_menu{
     padding: 0;
     background-color: transparent;
 }

 .nav_menu ul{
     margin: 0;
     padding: 0;
     list-style: none;


 }

 .nav_menu li a{
    background-color: #fafafa;
    display: block;
    margin-bottom: 10px;
    padding: 14px 37px; 
    color: #333;
    font-family: 'zilla Slab',serif;
    font-size: 17px;
    font-weight: 700;
 }
 .nav_menu li a:hover{
     background-color: #22bbc0;
     color: #fff;
 }

 .service-description h3{
     margin-top: 42px;
 }


button.btn.btn-link.btn-block.text-left::before{
    content: '_';
    position: absolute;
    right: 0;
    top:0;
    width: 40px;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

button.btn.btn-link.btn-block.text-left{
    color: #000;
    position: relative;
}
.accordion-item{
    margin: 20px;
    padding: 5px;
}

button:focus:not(:focus-visible) {
    outline: none;
}

.accordion-body{
    padding: 10px;
}

.blog-thumb{
    height: 300px;
    background-size: cover;
    background-position: center;
    
}

.single-blog-post{
    margin-bottom: 30px;
}
.post-date{
    color: #777777;
    text-transform: uppercase;
}

.blog-desc h3{
    font-size: 20px;
    margin-top: 10px;
}

.blog-desc a{
    color:#05bbc1 ;
}
.blog-desc{
    padding-top: 40px;
}

ul.pagination li a{
    border: none;
    background: #f9f9f9;
    margin-right: 10px;
    font-size: 18px;
    color: #333;
    border-radius: 50%;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 37px;
    text-align: center;
    font-family: 'zilla slab',serif;
    font-weight: 700;
}

ul.pagination li.active a{
    background-color:#05bbc1 ;


}

ul.pagination li:first-child a,
ul.pagination li:first-child span,
ul.pagination li:last-child a,
ul.pagination li:last-child span{
    border-radius: 50%;
}

.widget.widget_search{
    background: none;
    padding: 0;
    box-shadow: 0 0 5px #ddd;
}

.search-widget input{
    border: none;
    width: 80%;
    padding: 15px;
}

.search-widget button{
    float: right;
    background: none;
    padding: 15px;
}

.thumb-posts{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 35px;

}

.thumb-posts li{
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 30px;
    padding-bottom: 15px;

}

.thumb-posts li:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.thumb-posts li img{
    border-radius: 50%;
}

.alignleft{
    float: left;
    margin-right: 16px;
}

.thumb-posts a{
    color:#333
}


.thumb-posts h3{
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.7;
}

.post-featured-content{
    margin-bottom: 70px;
}

h2.article-title{

    font-size: 24px;
    margin-bottom: 30px;

}

.entry-content p{
    margin-bottom: 70px;
}

blockquote{
    font-size: 14px;
    border: none;
    background: #fbfbfb;
    margin: 0 7% 20px ;
    padding: 20px 60px;
}

.post-share a{
    background-color: #265ba9;
    color: #fff;
    padding: 12px 29px;
    border-radius: 50px;
    margin: 10px;
    display: inline-block;
    text-align: center;

}

 .post-share  a i.fab{
     padding-right: 7px;
 }

.post-share a.facebook-share-btn{
     background: #275baa;
 }
 .post-share a.twitter-share-btn{
     background:#28c8f0 ;
 }

 .post-share a.pinterest-share-btn{
     background: #d6061e;
 }

 .author-details{
     margin: 70px;
 }

 h2.comment-title,
 .comment-form h2{
     font-size: 24px;
     position: relative;
     margin-bottom: 50px;
     padding-bottom: 7px;
 }

 h2.comment-title::after,
 .comment-form h2::after{
     position: absolute;
     left: 0;
     bottom: 0;
     height: 3px;
     width: 50px;
     content: "";
     background: #265ba9;
 }

 ul.comment-list{
     margin: 0;
     padding: 0;
     list-style: none;
     margin-bottom: 70px;

 }

 ul.comment-list li{
     background: #fbfbfb;
     padding: 23px;
     margin-bottom: 30px;
     position: relative;
     padding-left: 116px;

 }

 img.comment-author-img{
     position: absolute;
     left: 30px;
     top:30px;
     border-radius: 50%;
 }

 .comment-meta h4{
     margin-bottom: 5px;

 }

  .comment-meta{
      font-size: 12px;
      margin-bottom: 10px;
      position: relative;

  }

  a.comment-reply-btn{

    float:right;
    font-family: 'zilla Slab',serif;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-top: -20px;

  }

  .comment-form input[type=text],
  .comment-form input[type=url],
  .comment-form input[type=email],
  .comment-form textarea
  {
      padding: 10px;
      border: 1px solid #ddd;
      margin-bottom: 17px;
  }

  .comment-form textarea{
      height: 150px;
  }
  .comment-form input[type=submit]{
      color: #fff;
      font-size: 16px;
      padding: 12px 30px;
      border-radius: 5px;

  }

  .contact-box{
      background-image: url(../img/bg-1.jpg);
  }

  .contact-box{
      background-size: cover;
      background-position: center;
      background-color: #112e2f;
      position: relative;
      z-index: 2;
      padding: 80px 65px;

  }

  .contact-box::after{

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #112e2f;
    z-index: -1;
    opacity: .6;

  }


  .contact-box h3{
      font-size:20px ;
  }
  .contact-box h2{

    font-size: 28px;
    margin-bottom: 40px;

  }
 

  .contact-box, .contact-box h3,
  .contact-box h2{
      color: #fff;
     
  }

  .single-contact-info{
      margin-bottom: 30px;
  }

  .single-contact-info:last-child{
      margin-bottom: 0;
  }

   .contact-box.single-contact-info h3 i{
      margin-right: 5px;
  }

  .contact-form{
      font-size: 15px;
      margin-bottom: 40px;
  }

  .contact-form input[type=text],
  .contact-form input[type=url],
  .contact-form input[type=email],
  .contact-form textarea
  {
      padding: 10px;
      border: 1px solid #ddd;
      margin-bottom: 17px;
  }

  .contact-form textarea{
    height: 200px;
}
.contact-form input[type=submit]{
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 5px;

}

.contact-form{
    padding: 50px 0;
    padding-left: 20px;
}

.twist-faqs.panel-default.panel-heading{

    background: none;
    border: none;


}


.twist-faqs.panel-group.panel-defaul.panel-collapse.panel-body{ 
    border:none;
}

.twist-faqs.panel.panel-default {
    background: #fbfbfb;
    margin-bottom: 13px;
   border: none;
   box-shadow: 0 0 5px #ebe7f0;

}

.twist-faqs.panel-heading{

    padding: 0;

}

.twist-faqs .panel-title a{
    display: block;
    padding: 10px;
    position: relative;
}

.twist-faqs .panel-title a::after{

    content: "+";
    position: absolute;
    right: 0;
    background: #0bbbc1;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 26px;
    right: 16px;
    top:50%;
    margin-top: -15px;


}



.twist-faqs .panel-title a[aria-expanded="true"]::after{
    content: "-";
}

.portfolio-filter{
    margin: 0 o 50px;
    font-size: 16px;
    font-family: 'zilla Slab',serif;
    color: #333;
    font-weight: 600;
    text-align: center;
    list-style: none;


}

.portfolio-filter li{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
}

.portfolio-filter li.active{
    color: #22babf;
}

.error-page{

    position: absolute;
    top: 10%;
    left: 17%;
    right: 17%;
    bottom:20%;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);

}

.error-page .content{
    max-width: 600px;
    text-align: center;
}

.content h1{
    font-size: 18vw;
    line-height: 1em;
    color: #69a6ce;
}

.content h4{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #000;
    max-width: 600px;
    font-size: 2em;

}

.content p{

    font-size: 1.2em;
    color: #0d0d0d;

}

.content .btns{
    margin: 25px 0;
    display: inline-flex;
}

.content .btns a{

    display: inline-block;
    margin: 0 10px;
    text-decoration: none;

    border: 2px solid #69a6ce;

   color: #69a6ce;
   font-weight: 500;
   padding: 10px 25px;
   border-radius: 25px;
   text-transform: uppercase;
   transition: all 0.3s ease;

}

.content .btns a:hover{
    color: #fff;

    background: #69a6ce;

}

